body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 16px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
nav a:hover {
  color: blue;
}

.nav-color {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.nav-link:hover {
  color: blue;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover {
  background-color: #f1f1f1;
}

.button:active {
  background-color: #ddd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
